################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HackerNewsAPI/HackerNewsAPI.API/bin/Debug/net8.0
/HackerNewsAPI/HackerNewsAPI.API/obj
/.vs
/HackerNewsAPI/.vs
